<style>
div.question {    
    background-color: #DDECEF;
    border-color: #0099CC;
    border-left: 5px solid #0099CC;
    padding: 0.5em;
    
        }
 </style>

<style>
h3.question-title {
	color: white;
	margin-bottom: 0.5em;
	background-color: #0099CC;

}
</style>

<style>
ul.questions {
	list-style-type: none;
}
</style>

<style>
div.attribution {
	background-color:#E8E8E8;
	padding: 0.5em;
	border-color: #565B5B;
	border-left: 5px solid #565B5B;
}
</style>

<style>
div.heading {
	background-color: #eac7d5;
	padding: 0.5em;
	border-color: ##BC4676;
	border-left: 5px solid #BC4676;
}